<div style="padding: 5px;">
    <%- include('./add-todo.ejs') %>
    <br>
    <hr>
    <div style="display: flex; justify-content: center; align-items: center;">
        <%- include('./get-todo.ejs') %>
    </div>
    
</div>