<div style="border-color: aquamarine; border-width: 2px; border-style: dashed; padding: 10px;">
    <h2>Add To-Do Form</h2>
    <form method="" action="">
        <label style="font-size: larger;">Task</label><br>
        <input type="text" id="task" name="task" style="width: 50%; height: 20px;" placeholder="enter task"><br><br>

        <label style="font-size: larger;">Completed?</label>
        <input type="checkbox" id="status" name="status" style="width: 15px; height: 15px;"> <br><br>

        <button type="submit">Submit</button>
    </form>
</div>
